    $primary: #80ba24;
    $secondary: #4a5c66;
    .full-height {
        height: 100% !important;
    }
    
    .full-width {
        width: 100vw;
    }
    
    .mobileSlider {
        margin-top: 10vw;
    }
    
    .mobileTopbar {
        margin-top: 2vw;
        min-height: 12vw !important;
    }
    
    .topBar {
        margin-top: 2vh;
        min-height: 10vh !important;
    }
    
    .mobileIcon {
        font-size: 500px;
    }
    
    .big-btn {
        background-color: #dfeec8 !important;
        border: dashed 2px #4a5c66 !important;
        font-style: italic !important;
        text-transform: none!important;
        height: 52px!important;
        font-size: 18px !important;
        .v-icon {
            position: absolute;
            left: 0;
        }
    }
    
    .big-btnSolidBorder {
        border: dashed 5px #4a5c66!important;
        background-color: #80ba24 !important;
        font-style: italic !important;
        height: 52px!important;
        font-size: 18px !important;
    }
    
    .tabSubheader {
        height: 5vh;
        background-color: #dfe5e6 !important;
        font-weight: bold !important;
        color:#4a5c66 !important;
    }
    
    .tabSubheaderMobile {
        padding-top: 1vw;
        height: 10vw;
        background-color: #dfe5e6 !important;
    }
    
    .mobileTabs {
        min-height: 70vw !important;
        font-size: 2vw;
        background-color: $primary;
    }
    
    .mainNav {
        position: absolute;
        width: 60vh !important;
    }
    
    .mainNavMobile {
        position: absolute;
        width: 60vw !important;
    }
    
    .appComp {
        margin: -1vh;
    }
    
    .appCompMobile {
        margin: -1vw;
        width: 100vw;
        height: 100vh;
    }
    
    .textSizeMobile {
        font-size: 3vw !important;
    }
    
    .navItemSize {
        height: 10vh;
    }
    
    .moduleCard {
        background-color: $secondary;
    }
    
    .row-pointer:hover {
        cursor: pointer;
    }
    
    .done {
        text-decoration: line-through;
    }
    
    .v-input--selection-controls__ripple.green--text {
        color: $primary !important;
    }
    
    .datePicker {
        width: 300px !important;
    }

    .v-btn{
        text-transform: unset !important;
    }
    .boldLink{
        font-weight: bold;
    }

    .moduleSheet {
        width: 95vw !important;
        background-color: #dfe5e6 !important;
        padding-bottom: 1em !important;
    }
      
    .moduleSheetDark {
        width: 95vw !important;
        background-color: #4a5c66 !important;
        padding-bottom: 1em !important;
      }
      
    .moduleContent{
        max-width: 20em!important;
    }
    
