    $primary: #80ba24;
    
    .full-height {
        height: 100%;
    }
    
    .full-width {
        width: 100%;
    }
    
    .mobileSlider{
        margin-top: 10vw;
    }

    .mobileTopbar{
       margin-top: 2vw;
       min-height: 12vw !important;
    }
    .topBar{
        margin-top: 2vh;
        min-height: 10vh !important;
     }
    .mobileIcon{
        font-size: 500px;
    }
    
    .big-btn {
        background-color: #dfeec8 !important;
        border: dashed 2px #4a5c66 !important;
        font-style: italic !important;
        text-transform: none!important;
        height: 52px!important;
        font-size: 18px !important;
        .v-icon {
            position: absolute;
            left: 0;
        }
    }
    
    .big-btnSolidBorder {
        border: dashed 5px #4a5c66!important;
        background-color: #80ba24 !important;
        font-style: italic !important;
        height: 52px!important;
        font-size: 18px !important;
    }

    .tabSubheader {
        padding-top: 1vh;
        height: 7vh;
        background-color: #dfe5e6 !important;
        color: "primary";
    }
    .tabSubheaderMobile{
        padding-top: 1vw;
        height: 10vw;
        background-color: #dfe5e6 !important;
    }
    .mobileTabs{
        min-height: 70vw !important;
        font-size: 2vw;
        background-color: $primary;
    }
    .appComp{
        margin:-1vh;
    }
    .appCompMobile{
        margin:-1vw;
    }
    
   
    